.loading {
    width: 100vw;
    height: 100vh;
    background-color: rgb(235, 235, 235);
    display: grid;
    place-items: center;
    max-width: 100%;
  }
  
  .loading > div {
    width: 5vmax;
    height: 5vmax;
    border-bottom: 2px solid rgb(0, 0, 0);
  
    border-radius: 50%;
  
    animation: loadingRotate 2500ms linear infinite;
  }
  
  @keyframes loadingRotate {
    to {
      transform: rotateZ(-360deg);
    }
  }
  